absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyascii
astunparse
attrs
audioread
babel
bangla
beautifulsoup4
blinker
blis
bnnumerizer
bnunicodenormalizer
Brotli
catalogue
cffi
charset-normalizer
click
cloudpathlib
cloudpickle
colorama
confection
contourpy
coqpit
cycler
cymem
Cython
dateparser
decorator
deep-translator
demucs
docopt
dora_search
einops
encodec
ffmpeg
filelock
Flask
Flask-Cors
flatbuffers
fonttools
frozenlist
fsspec
g2pkk
gast
google-pasta
grpcio
gruut
gruut-ipa
gruut_lang_de
gruut_lang_en
gruut_lang_es
gruut-lang-fr
gTTS
h5py
hangul-romanize
huggingface-hub
idna
imageio
imageio-ffmpeg
inflect
itsdangerous
jamo
jieba
Jinja2
joblib
jsonlines
julius
keras
kiwisolver
lameenc
langcodes
language_data
lazy_loader
libclang
librosa
llvmlite
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
more-itertools
moviepy
mpmath
msgpack
multidict
murmurhash
mutagen
namex
networkx
nltk
num2words
numba
numpy
omegaconf
openai-whisper
openunmix
opt_einsum
optree
packaging
pandas
pillow
platformdirs
pooch
preshed
proglog
protobuf
psutil
PyAudio
pycparser
pycryptodomex
pydantic
pydantic_core
pydub
Pygments
pynndescent
pyparsing
pypinyin
pysbd
python-crfsuite
python-dateutil
pytz
PyYAML
regex
requests
retrying
rich
safetensors
scikit-learn
scipy
shellingham
six
smart-open
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
srsly
submitit
SudachiDict-core
SudachiPy
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tiktoken
tokenizers
torch
torchaudio
tqdm
trainer
transformers
treetable
TTS
typeguard
typer
typing_extensions
tzdata
tzlocal
umap-learn
Unidecode
urllib3
wasabi
weasel
webrtcvad
websockets
Werkzeug
wrapt
yarl
yt-dlp
